* {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 12px;
  font-family: "Open Sans";
}

@font-face {
  font-family: banny;
  font-style: normal;
  font-weight: normal;
  src: local("Banny Round"), url("/Hunger/images/Banny-Round.woff") format("woff");
}

.title-1 {
  font-family: banny;
  text-transform: uppercase;
  font-size: 3rem;
  color: #fff;
}

.title-2 {
  font-family: banny;
  text-transform: uppercase;
  font-size: 3rem;
  color: #000;
}

.subtitle-1 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.subtitle-2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.text-bold-1 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

.text-bold-2 {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
}

.text-1 {
  font-size: 1.17rem;
  color: #fff;
}

.text-2 {
  font-size: 1.17rem;
  color: #000;
}

.section-name {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  color: #fff;
}

.link-button {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: #e8c300;
  cursor: pointer;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-button:hover {
  background: none;
  border: 1px solid #ffffff33;
}

.yellow-line {
  background: #e8c300;
  width: 60px;
  height: 5px;
  border-radius: 50px;
}

.yellow-sqare {
  width: 200px;
  height: 200px;
  border: 20px solid #e8c300;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.wheel-image {
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.vertical-line {
  height: 100%;
  width: 1px;
  background: #ffffff33;
  position: absolute;
  left: 50%;
}

.header-hero {
  background: url(./img/header-bg.png);
  background-size: cover;
  height: 800px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 7fr;
      grid-template-rows: 1fr 7fr;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 150px;
          column-gap: 150px;
}

.header-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #ffffff33;
}

.header-nav__link {
  height: 100px;
  width: 133px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.header-nav__link:hover {
  text-shadow: -3px -3px 4px;
  border-radius: 20px;
  background: #e8c300;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-time {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  text-align: center;
}

.hero-container-center {
  padding: 230px 0;
  border-left: 1px solid #ffffff33;
  border-right: 1px solid #ffffff33;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[10];
      grid-template-rows: repeat(10, auto);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container-center__subtitle {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

.hero-container-center__title {
  font-size: 8rem;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5 / 6;
}

.hero-container-center__yellow-line {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6 / 7;
}

.hero-container-center__links {
  margin-top: 30px;
  height: 65px;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7 / 8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 202px 40px 202px;
      grid-template-columns: 202px 40px 202px;
}

.hero-container-center__links-transparent {
  background: none;
  border: 1px solid #ffffff33;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.hero-container-center__links-transparent:hover {
  background: #e8c300;
  border: none;
}

.hero-container-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  row-gap: 20px;
}

.hero-container-right__link {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hero-container-right__link:hover {
  background: #e8c300;
  border-radius: 31px;
  -webkit-box-shadow: #e8c300 -2px -2px 7px;
          box-shadow: #e8c300 -2px -2px 7px;
}

.hero-vertical-line {
  height: 700px;
}

.hero-link {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 650px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hero-link:hover {
  background: #e8c300;
  border-radius: 30px;
  -webkit-box-shadow: #e8c300 -2px -2px 7px;
          box-shadow: #e8c300 -2px -2px 7px;
}

.section-1 {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 100px 50px;
  justify-items: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.section-1 .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  text-align: center;
  max-width: 566px;
  grid-column: 0.66667;
  -ms-grid-column-align: start;
      justify-self: start;
  row-gap: 10px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 .image {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-left: 0;
  margin-right: 60px;
  grid-column: 0.5;
  width: 475px;
}

.section-1 .yellow-sqare {
  position: absolute;
  right: 50px;
  left: unset;
}
